* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login {
    margin: 0 auto;
    width: 300px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.setting {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    height: 30px;
}

.login-text, .pop-up {
    text-align: center;
}

input {
    border-radius: 5px;
}

button {
    border-radius: 5px;
    height: 30px;
}

.pop-up {
    color: red;
}

.login-text a {
    text-decoration: none;
}