* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0 25px;
    background-color: aliceblue;
    padding: 20px 20px;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(212, 247, 247);
    padding: 20px 10px;
}

.menu-items {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.item a {
    text-decoration: none;
    color: black;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.item, button {
    width: 100px;
    height: 30px;
    background-color: rgb(160, 207, 212);
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.item:hover, button:hover {
    background-color: rgb(224, 240, 242);
    transition: 0.5s;
}

section, .welcome {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
}

.section-title {
    font-size: 24px;
    font-weight: 700;
    padding: 10px 0;
}

.sale-birthday {
    color: red;
    font-size: 18px;
    font-weight: 700;
}

.info-block, .services-list, .stock-list {
    width: 100%;
}

.about-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 550px;
}

.foto {
    width: 50%;
    background-image: url('../img/recept.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.about-text {
    width: 50%;
}

.list {
    padding-left: 20px;
}

.service, .stock, .contact {
    padding: 5px 0;
}

.service a {
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.stock, .contact {
    color: black;
    font-size: 18px;
}

.contact-info {
    width: 100%;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgb(212, 247, 247);
    padding: 20px 10px;
}